<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1034894546408-3s99dlad6hnml4g91ugb27ifkati8rbf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1034894546408-3s99dlad6hnml4g91ugb27ifkati8rbf</string>
	<key>API_KEY</key>
	<string>AIzaSyD3sGm4NxNWRFBuTUU8xNTv7VmK9aMsfUg</string>
	<key>GCM_SENDER_ID</key>
	<string>1034894546408</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ShopingList</string>
	<key>PROJECT_ID</key>
	<string>shopinglistecmade</string>
	<key>STORAGE_BUCKET</key>
	<string>shopinglistecmade.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1034894546408:ios:b8ca5187b78b836164805d</string>
</dict>
</plist>